<em><p>Welcome to trivial space, the prototype of a new kind of art museum! This project is build with the intention to explore and demonstrate the potentials of today's web technologies as a platform for both creation and presention of visual art. It will hopefully become part of the road that leads towards new forms of digital art experiences. </p></em>

<hr />


<h2 id="about-table-of-content">Table of content</h2>

<nav>
<ol>
	<li><a href="#about-introduction">Introduction</a></li>
	<li><a href="#about-system-requirements">System requirements</a></li>
	<li><a href="#about-activities">Activities and information material</a></li>
	<li><a href="#about-participate">Participate</a></li>
	<li><a href="#about-licensing-information">Licensing information</a></li>
	<li><a href="#about-learning-resources">Learning resources</a></li>
	<li><a href="#about-contact">Contact</a></li>
</ol>
</nav>

<hr />

<h2 id="about-introduction">Introduction</h2>

<p>This project follows three main purposes:
<ul>
	<li><strong>Proof the concept</strong> of a fully virtual art exhibition space build using open web standards and technologies only.</li>
	<li><strong>Share and mediate</strong> all experiences and knowledge gained from its developement by providing information and releasing code and content under open licenses.</li>
	<li><strong>Evolve and host a curated collection</strong> of digital artworks and virtual installations designed by varying artists.</li>
</ul>
</p>

<p><strong>The artworks</strong> that are exhibited in this museum are build entirely using the media of the web, i. e. open web standards and open source software. They live in and by the Internet. This is not a platform that hosts digitalizations of existing, physical, analogous art pieces, but a space for art that is digital and virtual by nature. What you will see here is color, light and space generated mostly by computer code, and the screen that you are looking at is the canvas which this art is painted on - by your web browser. </p>

<p><strong>The code and assets</strong> of this project are <a href="http://github.com/trivial-space" target="blank">available openly</a> for everyone (see <a href="#about-licensing-information">licensing information</a> for more details). Hopefully this will facilitate the adaption of this medium by fine artists and other creative and visionary people. It has never been easier to reach a great audience with interactive computer graphics art, and trivial space is made to push this chance forward. Let's make the web a better place for artists and art lovers alike. </p>

<hr />


<h2 id="about-system-requirements">System requirements</h2>

<p>To fully enjoy this site you need:</p>
<ul>
	<li class="narrow">a recent and up to date internet browser,</li>
	<li class="narrow">a good graphics card with up to date drivers,</li>
	<li class="narrow">a good display, the bigger the better.</li>
</ul>

<p>The artworks and drafts use <a href="http://en.wikipedia.org/wiki/WebGL" target="blank"> WebGL</a>, the new key feature of modern browsers that utilizes the graphics card for high performance visualizations. That's why the visuals require recent browsers and graphics hardware. Due to heavy computations and renderings that drive most of the visualizations, <strong>mobile devices are not supported yet</strong>. Hopefully, in the near future more and more devices will be empowered to display this kind of rich graphics content.</p>

<p> At the moment, newest <a href="http://www.google.com/chrome" target="blank">chrome</a> or <a href="http://www.mozilla.org/firefox/" target="blank">firefox</a> desktop browsers are recommended for viewing this website. </p>

<hr />


<h2 id="about-activities">Activities and information material</h2>

<p>Community activity arround trivial space happens on <a href="https://github.com/trivial-space" target="blank">GitHub</a>, <a href="http://www.facebook.com/trivialspace.net" target="blank">Facebook</a> and <a href="https://twitter.com/trivialspace" target="blank">Twitter</a>.</p>

<p>There is a great <a href="resources/Ausstellungstext_trivial_space.pdf" target="blank">text about trivial space</a> in German written by the art historian Sebastian Gebert.</p>

<p>Offline material about the release event and opening exhibitions in Berlin and Cracow are available to download. Get the press releases in <a href="resources/trivialspace-press-release-en.pdf" target="blank">English</a> and <a href="resources/trivialspace-pressetext-de.pdf" target="blank">German</a>, the <a href="resources/trivialspace-flyer.pdf" target="blank">flyer</a>, the <a href="resources/trivialspace-poster.jpg" target="blank">official poster</a> and the <a href="resources/trivialspace-teaser.jpg" target="blank">teaser picture</a>. </p>

<hr />


<h2 id="about-participate">Participate</h2>

<p>The possibility to upload, launch and administrate your own virtual spaces on this platform is not implemented yet, but is actively planed and focused. Another feature that will be added soon is the ability to easily integrate individual framed running artworks into existing external websites. This way you will be able to include them into your own cyber art exhibition. </p>

<p> The underlying programming framework, which is used to install new visualizations into the platform, is still in heavy development and changes frequently. At the moment, you can download the entire code from <a href="http://github.com/trivial-space/local-dev-env" target="blank">GitHub</a> and run your own local development version of many drafts, including the ones on this page. Instructions for setting up the code can be found on GitHub as well. </p>

<p>If you are artist, have a good idea or vision that you would love to see manifested as a virtual installation, and need any help in crafting it, feel free to <a href="#about-contact">contact me</a>. I will try to assist and provide information to you as good as I can. Of course you can also apply for your finished digital artwork to be displayed and exhibited on trivial space!</p>

<hr />


<h2 id="about-licensing-information">Licensing information</h2>

<p>The code of this project is licensed under the open source <a href="http://opensource.org/licenses/MIT" target="blank">MIT License</a>. That means you can study, change and reuse it in any way you want, provided that you mention the original author(s) and include this license in your distibution. So go ahead and build your own fancy online museum if you like. The more we are, the better!</p>

<p>All artworks used in the visualizations, including textures, 3D models, audio tracks as well as all screenshots that you make of running works, are licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="blank">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. So again, as long as you mention the original author(s) and redistribute the work under the same license, you can use them to your liking.</p>

<p>Participating artists who contribute their artworks to this platform may choose other licensing conditions if they wish. If that happens, it will be mentioned explicitly in the information text of the work in question.</p>

<hr />


<h2 id="about-learning-resources">Learning resources</h2>

<p>The following list is an unexhaustive collection of resources that provide more information on how to get started with WebGL and other technologies that help you to create your own virtual art: </p>

<ul>
	<li><a href="http://threejs.org" target="blank">Three.js</a> is the probably most popular 3D rendering library for WebGL with a great community, created by <a href="http://www.mrdoob.com/" target="blank">Ricardo Cabello</a>. Trivial space uses this library extensively. You will find tons of examples, featured projects and pointers to other resources on the website. </li>

	<li><a href="http://glsl.heroku.com/" target="blank">Glsl sandbox</a> and <a href="http://www.shadertoy.com/" target="blank">Shadertoy</a> are wonderful showcases that demonstrate the power of WebGL and let you inspect and change the code as well. </li>

	<li><a href="http://learningwebgl.com" target="blank">Learningwebgl</a> offers more tutorials and many links concerning WebGL.</li>

	<li><a href="http://natureofcode.com/" target="blank">The Nature of Code</a> by <a href="http://www.shiffman.net/" target="blank">Daniel Shiffman</a> and his <a href="http://vimeo.com/shiffman/videos" target="blank">video tutorials</a> are a great free available and easy to understand introduction to all the funky programming concepts like fractals, physics simulation, evolutionary algorithms, etc.</li>

	<li><a href="http://www.iquilezles.org/" target="blank">Iñigo Quílez</a> and his work greatly insired me and proved that painting can be done with computer code. There is a lot of valueable information on advanced computer graphics topics on his website.</li>

	<li><a href="http://processing.org" target="blank">Processing</a> is a programming language and development environment that enables you to discover and play with the concepts of programming and computer graphics easily.</li>

	<li><a href="http://www.w3schools.com/" target="blank">w3schools</a> is a great place to find introduction and reference materials for everything concerning web programming and html5 in general.</li>

	<li><a href="http://nodejs.org" target="blank">Node.js</a> and its <a href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js" target="blank">eco system</a> turned out to be the most pleasing approach to web development that I have experienced so far and builds the heart of the backend/server part of trivial space.</li>

	<li><a href="http://www.blender.org" target="blank">Blender</a>, <a href="http://gimp.org" target="blank">Gimp</a> and <a href="http://mypaint.intilinux.com/" target="blank">MyPaint</a> are valuable and powerful open source graphics programs that help me to produce all the assets, models and textures that I use in my visualizations. Of course you can use commercial software as well if this serves your purpose better.</li>
</ul>

<p>There is much more open information and billions of friendly tutorials about web, programming and computer graphics out there. So don't be shy and start your quest to become a cyber artist today! </p>

<hr />


<h2 id="about-contact">Contact</h2>

<p>Trivial space is envisioned, created and coded with love by Thomas Gorny. If you want to send me a message, you can write to: </p>

<code>thomas (dot) gorny (at) mail (dot) com</code>

<p>I will be glad to hear from you!</p>

<footer>. . .</footer>
