@import 'style';

#draft-frame {
    z-index: 2;
    .fullscreen-element;
}

#menu-button {
    font-size: 3em;
    position: absolute;
    top: 15px;
    right: 25px;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-size: 0px 0px;
    border: 0;
    text-shadow: 0 -1px rgba(255, 255, 255, 0.25);
    z-index: 1000;
    line-height: 1em;
    color: @BackgroundSignalBlue;

    &.show-info {
        color: @ButtonInactive; 
    }

    &.disabled:hover {
        color: @BackgroundSignalBlue;
    }
    
    &.show-info:hover {
        color: @BackgroundSignalBlue;
    }

    &:active {
        text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    }

    &.disabled {
        color: @ButtonInactive;
    }

    i {
        line-height: 1em;
    }
}

#background-frame {
    z-index: 1;
    text-shadow: 0 -1px #000;
    font-family: @HeaderTextFont;
    .fullscreen-element;

    & > h1 {
        font-size: 7em;            
        color: #262626;
        text-shadow: 0 1px #484848;
        opacity: 0.6;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100px;
        margin-top: -140px;
        width: 600px;
        margin-left: -300px;
        z-index: -1;
        line-height: 1.2em;
    }

    & > article {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 400px;
        margin-top: -210px;
        width: 640px;
        margin-left: -300px;

        a {
            color: @TextLight;
            .transition(color, 1s);
            &:hover {
                color:@TextBlue;
            }
        }

        h1 {
            font-size: 4.5em;
            color: @TextBlue;
        } 

        h1, h2 {
            padding-bottom: 20px;
        }

        h2 {
            font-size: 220%;
        }

        h3 {
            font-size: 170%;
            line-height: 150%;
        }
    }
}

header nav {
    .box-sizing-border-box;
    display: inline-block;
    text-align: right;
    float: right;
    padding-top: 11px;
    padding-right: 95px;
    height: 3.2em;
    // line-height: 2.5em;
    vertical-align: middle;
    position: relative;
    z-index: 200;

    a {
        list-style: none;
        color: @TextLight;
        display: inline-block;
        font-weight: normal;
        line-height: 1.5em;
        vertical-align: middle;
        padding: 5px 20px 4px;
        border-radius: 3px;
        background-color: @BackgroundInactive;
        .element-outside;
        margin-left: 17px;
        position: relative;

        i {
            opacity: 0.8;
            font-size: 1.3em
        }
    }
}

#draft-menu {
    float: left;
}

#draft-navigation-info {

    > * {
        margin: 0;
    }

    ul {
        padding-left: 1em;
    }
    opacity: 0.0;
    .transition (opacity, 1s);

    &:hover {
        opacity: 1.0;
    };

    &.showing {
        opacity: 1.0;
    }
}

#information-content {
    width: @InfoWidth;
    float: right;

    article {
        padding: 10px 30px 0px;

        > *:last-child {
            padding-bottom: 20px;
        }

        p+p {
            margin-top: 1.3em;
        }
    }
}