@import 'style';

#draft-menu {
    float: right;
}

#information-content article{
	padding: 30px 40px 0 40px;

	ul, ol {
		.box-sizing-border-box;
	}

	h1, h2, h3, h4, hr, p, nav, ul, ol, footer {
		width: 80%;
		min-width: 400px;
		max-width: 800px;
	}    

	h1, h2, h3, h4 {
		margin-bottom: 30px;
	}

	.scroll-up-button, .scroll-down-button {
		width: 100%;
		max-width: 100%;
	}

	footer {
		margin: 20px 0 40px 0;
		padding-bottom: 40px;
		font-size: 3em;
		text-align: center;
		text-shadow: 0 1px rgba(255, 255, 255, 0.7);
		color: rgba(0,0,0,0.15);
	}

	
    li + li {
        margin-top: 1em;
    }

    li.narrow + li.narrow {
    	margin-top: 0;
    }
}