@import "normalize";
@import "font-awesome";
@import "mixins";
@import "nanoscroller";

// ------------------ Colors ----------------------- 

@TextDark: #333;
@TextLight: #ccc;
@TextBlue: rgb(50, 200, 225);
@BackgroundColorDark: rgba(35, 35, 35, 0.6);
@BackgroundColorLight: rgba(245, 245, 245, 0.9);
@BackgroundSignalBlue: rgba(50, 200, 225, 0.7);
@BackgroundInactive: rgba(40, 40, 40, 0.4);
@ButtonInactive: rgba(20, 20, 20, 0.5);
@BackgroundScrollBarsDark: rgba(70, 70, 70, 0.6);
@BackgroundScrollBarsActiveDark: rgba(70, 70, 70, 0.85);
@BackgroundScrollBarsLight: rgba(170, 170, 170, 0.6);
@BackgroundScrollBarsActiveLight: rgba(170, 170, 170, 0.85);


// ------------------ Measurements --------------------

@NavWidth: 250px;
@InfoWidth: 500px;

@MainContentWidth: @NavWidth + @InfoWidth;


// ---------------------- fonts ----------------------

@TextFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
@HeaderTextFont: "Tenor Sans", @TextFont;

// ------------------- basic style ------------------- 


h1 {
    font-family: @HeaderTextFont;
    font-size: 2.3em;
}

h1, h2, h3 {
    font-weight:normal;
    small {
        color: @TextLight;
    }
}

html {
    height: 100%;
}

body {
    background: #222 url(../images/background.png) repeat;
    font-family: @TextFont;
    color: @TextLight;
    line-height: 1.4em;
    text-align: right;
    min-width: @MainContentWidth;
    overflow: hidden;
    height: 100%;
}

a {
    text-decoration: none;
    color: @TextBlue;
    font-weight: bold;

    /* &:hover { */
        /* color: @TextLight; */
    /* } */

}

.icon-small {
    font-size: 0.7em;
    vertical-align: top;
    max-width: 40px !important;
}


// ---------------- page layout ---------------

#main-header {
    position: relative;
    width: 100%;
    text-align: left;
    background-color: @BackgroundColorDark;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); 
    
    h1 {
        .box-sizing-border-box;
        display: inline-block;
        padding-left: 30px;
        text-shadow: 0 -1px rgba(0, 0, 0, 0.8);
        font-size: 1.7em;
        line-height: 1em;
    }
}


#information-frame {
    position: relative;
    z-index: 10;
    height: 100%;
    width: @MainContentWidth;
    margin: 0;
    display: inline-block;
    float: right;
    box-shadow: -2px 2px 3px rgba(0,0,0,0.3);
    overflow: hidden;
}


#draft-menu {
    .box-sizing-border-box;
    overflow: hidden;
    background-color: @BackgroundColorDark;
    text-align: left;
    width: @NavWidth;
    height: 100%;

    a {
        padding: 20px 15px;
        display: block;
        text-align: right;
        font-weight: bold;
        color: @TextLight;
        border-bottom: 1px solid rgba(0,0,0,0.4);
        font-size: 0.9em;

        small {
            font-size: 0.9em;
        }
        
        &.draft-link {
            clear: both;
            padding: 10px 15px 10px 15px;
            position: relative;
            height: 60px;

            img {
                position: absolute;
                top: 10px;
                left: 10px;
                height: 60px;
                margin: 0;
                padding: 0;
                opacity: 0.9;
            }

            small {
                font-weight: normal;
                margin-top: 20px;
            }
        }

        &:active {
            border-top: 1px solid rgba(0,0,0,0.4);
        }
    }
    
    a + a {
        border-top: 1px solid rgba(255,255,255,0.18);
    } 

    hr {
        margin: 0;
        padding: 0;
        border: 0;
        height: 1px;
        border-top: 1px solid rgba(255,255,255,0.18);
    }

    .scroll-up-button, .scroll-down-button {
        background-color: @BackgroundScrollBarsDark;

        &:hover {
            background-color: @BackgroundScrollBarsActiveDark;
        }
    }
}


#information-content {
    .box-sizing-border-box;
    overflow: hidden;
    background-color: @BackgroundColorLight;
    color: @TextDark;
    text-align: left;
    padding: 20px;
    text-shadow: 0 1px rgba(255, 255, 255, 0.4);

    h1, h2, h3, h4, h5, h6, strong, a {
        text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    }

    h2, h3, h4, h5 {
        margin-top: 2em;
        &:first-child {
            margin-top: 20px;
        }
    }

    article {
        padding-bottom: 30px;
        height: 100%;
    }

    .scroll-up-button, .scroll-down-button {
        background-color: @BackgroundScrollBarsLight;

        &:hover {
            background-color: @BackgroundScrollBarsActiveLight;
        }
    }

    hr {
        padding: 0;
        margin: 2.5em 0;
        height: 0;
        border: 0;
        border-top: 1px solid rgba(0,0,0,0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    &.partially-visible {
        .cursor-grab;
    }
}


#main-footer {
    clear: both;
    .box-sizing-border-box;
    padding: 20px;
    width: 100%;
    background-color: @BackgroundColorDark;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.3) inset;
}

footer.invisible {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    padding: 30px;
    z-index: 100;

    a {
        font-size: 2.5em;
        color: @TextLight;
        .transition(color, 1s);
        &:hover {
            color:@TextBlue;
        }
    }

    a+a {
        margin-left: 10px;
    }
}


.message-box {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 30px 30px 35px 35px;
    background-color: @BackgroundColorDark;
    // border-top: 1px solid rgba(255,255,255,0.15);
    box-shadow: 2px -2px 3px rgba(0,0,0,0.3);
    z-index: 5;
    text-align: left;
    max-width: 600px;

    p {
        padding: 0;
        margin: 0;
    }
}


// -------------- effects and interactions --------------

button {
    .transition(color, 0.5s);
}

header nav a, #draft-menu a {
    .transition(background-color, 0.5s);

    &.selected {
        background-color: @BackgroundSignalBlue;
    }

    &:hover {
        background-color: @BackgroundSignalBlue;
    }

    &:active {
        .element-inside;
    }

}

header, canvas {
    opacity: 1;
    .transition(opacity, 1s);

    &.disabled, &.loading {
        opacity: 0;
    }
}

#information-wrapper {
    height: 100%;
    width: @MainContentWidth;
}

#information-frame {
    .transition(width, 1s);
    width: @NavWidth;

    &.show-info {
        width: @MainContentWidth;
    }

    &.disabled {
        width: 0;
    }
}

#info-pane, #comments-pane, #remote-content-pane {
    display: none;

    &.selected {
        display: block;
    }
}

.scroll-up-button, .scroll-down-button {
    left: 0;
    padding: 10px;
    .transition(background-color, 0.5s);
}

.scroll-up-button {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
}

.scroll-down-button {
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2); 
}


// ----------------- tooltips ------------------

.tooltip {
    position: absolute;
    top: 10px;
    width: 150px;
    left: -150px;
    opacity: 0;
    text-align: right;
    padding: 10px 0;
    border-radius: 3px;
    .transition(opacity, 1s);

    &:hover {
        cursor: default;
    }
}

a:hover + .tooltip {
    opacity: 1;
}
