.scroll-up-button, .scroll-down-button {
    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
}

.scroll-up-button {
    top: 0;
}

.scroll-down-button {
    bottom: 0;
}
